{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Symfony Demo application{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/tether.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome-4.6.3.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-lato.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/highlight-solarized-light.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>

                <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        Symfony Demo
                    </a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% block header_navigation_links %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('homepage') }}">
                                        <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                                    </a>
                                </li>

                                {% if is_granted('ROLE_ADMIN') %}
                                {% endif %}
                            {% endblock %}
                        </ul>
                        <ul class="nav navbar-nav">
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('security_logout') }}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                    </a>
                                </li>
                                <li class="nav-item divider-vertical">
                                </li>
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="locales">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                    <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                                </a>
                                <ul class="dropdown-menu locales" aria-labelledby="locales">
                                    {% for locale in locales() %}
                                        <a class="dropdown-item" href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}">{{ locale.name|capitalize }}</a>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-6">
                            <p>&copy; {{ 'now'|date('Y') }} Mario Lubenka - powered by Symfony 2</p>
                        </div>
                        <div id="footer-resources" class="col-md-6">
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('js/tether.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/Chart.bundle.min.js') }}"></script>
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ url('bazinga_jstranslation_js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
