{% extends 'base.html.twig' %}

{% block body_id 'diff' %}

{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/parsediff.css') }}">
{% endblock %}

{% block body %}
    <h3>{{ content.filename }}</h3>
    <h4>{{ content.status }} in change <a href="">{{ content.change.title }}</a></h4>
    <table class="table-responsive parseDiff">
        {% if newLines_left|length > newLines_right|length %}
            {{ include(':home:_diffRows.html.twig', {
                left: newLines_left,
                right: newLines_right,
                spacers: newLines_spacers,
                loopSource: newLines_left,
            }, with_context = false) }}
        {% else %}
            {{ include(':home:_diffRows.html.twig', {
                left: newLines_left,
                right: newLines_right,
                spacers: newLines_spacers,
                loopSource: newLines_right,
            }, with_context = false) }}
        {% endif %}
    </table>
{% endblock %}
