{% extends 'base.html.twig' %}

{% block body_id 'home' %}

{% block body %}
    <div class="form-group row">
        <label for="projectList" class="control-label col-xs-1">Project</label>
        <div class="col-xs-11 input-group">
            <span class="input-group-btn">
                <a class="btn btn-primary" href="">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
            <select name="projectList" id="projectList" class="form-control">
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.title }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <a class="btn btn-default" href="">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </div>
    </div>
    <hr />
    <div id="body">
        Loading data...
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tableobject.js') }}"></script>
    <script type="text/javascript">
        function loadProject(projectId) {
            var $body = $('body div#body');
            $.ajax({
                method: 'POST',
                url: '{{path("ajax_loadProject")}}',
                data: { project_id: projectId },
                dataType: 'json'
            }).done(function( response ) {
                if(response.status) {
                    var changeData = [];
                    $(response.changes).each(function(key, change) {
                        var titleArray = [];
                        var span = null;
                        if(change.type) {
                            span = document.createElement('span');
                            span.className = 'label label-info';
                            var text = document.createTextNode(change.type);
                            span.appendChild(text);
                            titleArray.push(span);
                        }
                        titleArray.push(change.title);
                        changeData.push([span, change.title, change.author, new Date(change.date.date).toLocaleString()]);
                    });

                    var table = createTableObject(
                        'changeTable',
                        ['', '{{ 'label.title'|trans }}', '{{ 'label.author'|trans }}', '{{ 'label.date'|trans }}'],
                        changeData,
                        '{{ 'no_entries_found'|trans }}'
                    );
                    $body.html(table);
                }
            });
        }
        $(document).ready(function() {
            // todo: Abrufen der Versionen!
            // todo: Changelog Export (Markdown) nach Version
            // z.B. https://raw.githubusercontent.com/brave/browser-laptop/master/CHANGELOG.md

            var $projectSelect = $('select#projectList');
            loadProject($projectSelect.val());
            $projectSelect.change(function () {
                loadProject($( this ).val());
            });
        });
    </script>
{% endblock %}
