{% extends 'base.html.twig' %}

{% block body_id 'home' %}

{% block body %}
    <div class="form-group row">
        <label for="projectList" class="control-label col-xs-1">Project</label>
        <div class="col-xs-11 input-group">
            <span class="input-group-btn">
                <a class="btn btn-primary" href="javascript:addProject();" data-toggle="tooltip" data-placement="top" title="{{ 'action.create_project'|trans }}">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
            <select name="projectList" id="projectList" class="form-control">
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.title }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <a class="btn btn-default" href="javascript:currentProjectDetails();" data-toggle="tooltip" data-placement="top" title="{{ 'action.edit_project'|trans }}">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </div>
    </div>
    <hr />
    <div id="body">
        {{ 'home_loading'|trans }}
    </div>

    <div id="universalModal" class="modal fade" tabindex="-1" role="dialog"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var paths = {
            'ajax_loadProject' : '{{path("ajax_loadProject")}}',
            'ajax_project_details' : '{{path("ajax_project_details")}}',
            'ajax_project_add' : '{{path("ajax_project_add")}}'
        };
    </script>
    {{ parent() }}
    <script src="{{ asset('js/tableobject.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // todo: Abrufen der Versionen!
            // todo: Changelog Export (Markdown) nach Version
            // z.B. https://raw.githubusercontent.com/brave/browser-laptop/master/CHANGELOG.md

            var $projectSelect = $('select#projectList');
            loadProject($projectSelect.val(), true);
            $projectSelect.change(function () {
                loadProject($( this ).val());
            });
        });
    </script>
{% endblock %}
