{% extends 'base.html.twig' %}

{% block body_id 'home' %}

{% block body %}
    <div class="form-group row" id="projectBar">
        <div class="col-sm-1">
            <label for="projectList" class="control-label">{{ 'label.project'|trans }}</label>
        </div>
        <div class="col-sm-11 vertical-align-middle">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" id="button-project-add" data-toggle="tooltip" data-placement="top" title="{{ 'action.create_project'|trans }}">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
                <select name="projectList" id="projectList" class="form-control">
                    {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.title }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" id="button-project-details" data-toggle="tooltip" data-placement="top" title="{{ 'action.edit_project'|trans }}">
                        <i class="fa fa-pencil"></i>
                    </button>
                </span>
                <span class="input-group-btn">
                      <button type="button" id="fetchdata-button" class="btn btn-secondary" data-toggle="tooltip" aria-haspopup="true" aria-expanded="false" data-placement="top" title="{{ 'action.fetch_data'|trans }}">
                        <i class="fa fa-refresh"></i>
                      </button>
                </span>
            </div>
        </div>
    </div>
    <hr />

    <div class="chartArea hidden-md-down">
        <canvas id="canvas" style="width:100%; max-width:1110px; height: 350px"></canvas>
    </div>

    <div id="body">
        {{ 'home_loading'|trans }}
    </div>

    <div id="universalModal" class="modal" tabindex="-1" role="dialog"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ url('ajaxpaths') }}"></script>
    {{ parent() }}
    <script src="{{ asset('js/rewatajax.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $projectSelect = $('select#projectList');
            loadProject($projectSelect.val(), true);
            $projectSelect.change(function () {
                loadProject($( this ).val());
            });
        });
    </script>
{% endblock %}
