{% extends 'base.html.twig' %}

{% block body_id 'home' %}

{% block body %}
    <div class="form-group row">
        <label for="projectList" class="control-label col-xs-1">Project</label>
        <div class="col-xs-11 input-group">
            <span class="input-group-btn">
                <a class="btn btn-primary" href="">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
            <select name="projectList" id="projectList" class="form-control">
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.title }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <a class="btn btn-default" href="">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
        </div>
    </div>
    <hr />
    <div id="body">
        Loading data...
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var paths = {
            'ajax_loadProject' : '{{path("ajax_loadProject")}}'
        };
        var translations = {
            // ...
            'no_entries_found' : '{{ 'no_entries_found' | trans }}',
            'label': {
                'date' : '{{ 'label.date' | trans }}',
                'author' : '{{ 'label.author' | trans }}',
                'title' : '{{ 'label.title' | trans }}'
            }
            // ...
        }
    </script>
    {{ parent() }}
    <script src="{{ asset('js/tableobject.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // todo: Abrufen der Versionen!
            // todo: Changelog Export (Markdown) nach Version
            // z.B. https://raw.githubusercontent.com/brave/browser-laptop/master/CHANGELOG.md

            var $projectSelect = $('select#projectList');
            loadProject($projectSelect.val());
            $projectSelect.change(function () {
                loadProject($( this ).val());
            });
        });
    </script>
{% endblock %}
