{% if show_confirmation|default(false) %}
    {% set attr = {'data-confirmation': 'true'} %}
    {{ include('project/_delete_confirmation.html.twig') }}
{% endif %}

{{ form_start(form, { 'name': 'projectForm', attr: attr|default({'id': 'projectForm'}) }) }}
    {{ form_widget(form) }}
{% if not ajax_mode %}
    <input type="submit" value="{{ button_label|default('label.create_project'|trans) }}"
           class="{{ button_css|default("btn btn-primary") }}" />

    {% if include_saveAndCreateNew|default(false) %}
        <input type="submit" name="saveAndCreateNew" value="{{ 'label.save_and_create_new'|trans }}"
               class="{{ button_css|default("btn btn-default") }}" />
    {% endif %}

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('project_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}
{% endif %}
{{ form_end(form) }}

{% if additionalFields %}
    <script language="text/javascript">
        var additionalFields = {{ additionalFields|json_encode|raw }};
        function loadAdditionalFields() {
            var sourceSelect = $('select#project_source').val();
            var additions = additionalFields[sourceSelect];
            var form = $('form[name=projectForm] > div#project');
            form.find('div.form-group.additional-field').remove();
            $(additions).each(function(k, property) {
                var formGroup = document.createElement('div');
                formGroup.className = 'form-group additional-field';
                var label = document.createElement('label');
                label.className = 'control-label';
                label.htmlFor = '';
                label.innerText = Translator.trans('label.source_'+sourceSelect+'.'+property);
                formGroup.appendChild(label);

                var input = document.createElement('input');
                input.id = '';
                input.className = 'form-control';
                input.name = 'project[options][source]['+property+']';
                formGroup.appendChild(input);
                form.append(formGroup);
            });
        }

        $('select#project_source').change(function() {
            loadAdditionalFields();
        });

        $(document).ready(function() {
            loadAdditionalFields();
        });
    </script>
{% endif %}