{% extends 'base.html.twig' %}

{% block body_id 'platform_index' %}

{% block main %}
    <h1>{{ 'title.project_list'|trans }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{ 'label.id'|trans }}</th>
                <th scope="col">{{ 'label.title'|trans }}</th>
                <th scope="col"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('project_show', { id: project.id }) }}" class="btn btn-sm btn-default">
                            {{ 'action.show'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'no_entries_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('project_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_project'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
